body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: #fff;
  background-image: url(/images/index/patern.svg) no-repeat 0 0;
}

a {
  text-decoration: none;
  color: #fff;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font: inherit;
  color: whitesmoke;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: #000;
  border: none;
}
button:hover,
button:focus,
button:active {
  background-color: #212121;
  color: #fff;
}
a:hover,
a:focus,
a:active {
  background-color: #212121;
  color: #fff;
}

/*Навигация в шапке*/

header {
  width: 100%;
}

.main-nav {
  font-size: 16px;
  color: #fff;
  line-height: 20px;
  background-color: #000;
  margin-bottom: 40px;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.main-nav-container {
  width: 930px;
  display: flex;
  justify-content: space-between;
}
.login {
  text-transform: uppercase;
  max-width: 140px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  margin: 0;
}

.site-nav {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.link-site {
  display: block;
  padding: 25px 20px;
  font-size: 16px;
}
.login button {
  padding: 25px 20px;
  margin: 0;
}
.login {
  position: relative;
}
.login li ::before {
  content: url(/images/Shape.svg);

  position: absolute;
  top: 27px;
  left: 50px;
  width: 16px;
  height: 18px;
  opacity: 0.3;
}
.login li:hover::before,
.login li:focus::before,
.login li:active::before {
  opacity: 1;
}

.login,
.site-nav {
  list-style: none;
}

.login,
.site-nav a {
  color: #fff;
}
.login button:hover,
.login button:focus,
.site-nav li:hover,
.site-nav li:focus {
  background: #212121;
  color: #f7f4f1;
}
.login-btn{
  text-transform: uppercase;
}
.active-link{
  border-bottom: 3px #f1f1f0 solid;
  background: #212121;
  padding: 25px 20px 22px 20px;
}

main {
  background-color: #fff;
  background-image: url(/images/index/patern.svg) no-repeat 0 0;
}
.main {
  width: 100%;
  color: #000;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.main h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}
.link-road {
  color: #000;
  margin: 0;
  display: block;
  padding: 5px 15px 5px 0;
}
.road {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.road li {
  list-style-image: url(/images/item/romb.png);
  margin-right: 10px;
}
.road li:nth-child(1) {
  list-style-image: none;
}

.low-slider {
  display: flex;
  justify-content: space-between;
  width: 460px;
  margin-top: 20px;
}
.slider .big-photo {
  width: 460px;
  height: 498px;
}
.slider {
  width: 460px;
}
.slider-btn {
  padding: 0;
  margin: 0;
}
.slider-btn img {
  width: 145px;
  height: 140px;
}
.shadow {
  box-shadow: 2px 2px 15px 2px #b5b2af;
  padding: 0;
  margin: 0;
  border: none;
}
.grey {
  color: #aba9a7;
}
.item-text {
  display: grid;
  grid-template-columns: 1fr 400px;
  column-gap: 50px;
  margin-top: 30px;
}
.span-article {
  width: 400px;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.left {
  display: inline-block;
}
.right {
  margin-left: auto;
}
p {
  margin: 0;
}
.flex-text {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.btn-price {
  margin: 20px 0 60px 0;
  text-align: center;
}
.price {
  display: inline-block;
  width: 100px;
  padding: 9px 0;
  text-align: center;
  background-color: #e5e5e5;
  line-height: 18px;
}
.btn-buy {
  display: inline-block;
  vertical-align: baseline;
  text-align: center;
  width: 78px;
  padding: 10px;
  color: #f1f1f0;
  background-color: #000;
  text-transform: uppercase;
  margin-left: -0.2em;
}
.box {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}
.content-box {
  list-style-image: url(/images/item/romb.png);
  padding: 0 0 0 10px;
  font-size: 14px;
  line-height: 24px;
}
.content-box li {
  margin-bottom: 5px;
}
/*Футер*/
.main-footer p {
  margin: 0;
}
.main-footer {
  margin-top: 65px;
  text-align: center;

  width: 100%;
  color: #fff;
  background-color: #212121;
  background-image: url("/images/footer.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addres-foot,
.foot-copyrighr {
  margin: 0;
}
.foot-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.copyright {
  margin-top: 5px;
  padding: 10px;
  background-color: #000;
}
.social-icon {
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.social-icon:hover,
.social-icon:focus {
  background-color: #fff;
  transition: all 0.5s ease-in;
}
.social-icon {
  width: 43px;
  height: 43px;
  background-color: #000;
}
.icon:hover path,
.icon:focus path {
  fill: #000;
}
.foot-contacts {
  width: 145px;
}
.social {
  list-style: none;
  margin: 0;
  margin-top: 15px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.addres-foot {
  width: 320px;
  text-align: left;
}
.footer-container {
  width: 930px;
  padding: 57px 0 18px 0;
  display: flex;
  justify-content: space-between;
}

.addres-foot a {
  text-decoration: underline;
  color: #f7f4f1;
}

.foot-contacts {
  text-align: center;
  width: 320px;
}

.foot-contacts ul {
  list-style: none;
}


/*Логин-пароль*/
.popup-bg {
  display: none;
  width: 480px;
  height: 385px;
  color: #000;
  background-color: #f8f3f0;
  box-shadow: 1px 1px 10px 1px #b5b2af;
  background-color: #f8f3f0;
  background-image: url(/images/index/patern.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popupchek {
  padding: 0;
  margin: 0;
}
.popup h2 {
  font-size: 32px;
  line-height: 42px;
  text-align: left;
  margin-bottom: 15px;
  margin-top: 45px;
}
.popup form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.label-email {
  font-size: 14px;
  line-height: 24px;
  width: 210px;
  margin-bottom: 10px;
}
.e-mail,
.password {
  width: 300px;
  padding: 10px;
  border: 3px #212121 solid;
  background-color: inherit;
  margin-bottom: 10px;
}
.popupchek {
  width: 100%;
  display: flex;
}
.popupchek a {
  display: inline-block;
  margin-left: auto;
}

.chek {
  appearance: none;
}
.memory {
  margin-bottom: 18px;
}
.label-memory {
  padding-left: 25px;
  position: relative;
}
.label-memory::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: #000 2px solid;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.label-memory::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background: url(/images/shop/cross.png) no-repeat 0 0;
  opacity: 0;
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 2;
}
input.chek:checked + .label-memory::after {
  opacity: 1;
}
.btn-log {
  display: block;
  width: 320px;
  background-color: #000;
  padding: 10px 0;
  margin-right: 0;
}
.popup.e-mail:focus,
.popup.password:focus,
.popup.e-mail:active,
.popup.password:active {
  border-color: #f34004;
}

.popup a {
  color: #000;
  text-decoration: underline;
}
.popup a:hover,
.popup a:focus {
  text-decoration: none;
}
/**/
