body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background: url(images/index/patern.svg) no-repeat 0 0;
  background-color: #fff;
}

a {
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font: inherit;
  color: whitesmoke;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: #000;
  border: none;
}
button:hover,
button:focus,
button:active {
  background-color: #bebcba;
  color: #000;
}
.login button:hover,
.login button:focus,
.site-nav li:hover,
.site-nav li:focus {
  background: #212121;
  color: #f7f4f1;
}
/*Навигация в шапке*/
header {
  width: 100%;
}

.main-nav {
  font-size: 16px;
  color: #fff;
  line-height: 20px;
  background-color: #000;
  margin-bottom: 40px;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.main-nav-container {
  width: 930px;
  display: flex;
  justify-content: space-between;
}
.login {
  max-width: 140px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  margin: 0;
}

.site-nav {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.site-nav li a {
  display: block;
  padding: 25px 20px;
  font-size: 16px;
}
.login button {
  padding: 25px 20px;
  margin: 0;
}
.login {
  position: relative;
}
.login li ::before {
  content: url(/images/Shape.svg);

  position: absolute;
  top: 27px;
  left: 50px;
  width: 16px;
  height: 18px;
  opacity: 0.3;
}
.login li:hover::before,
.login li:focus::before,
.login li:active::before {
  opacity: 1;
}

.login,
.site-nav {
  list-style: none;
}

.login,
.site-nav a {
  color: #fff;
}
main {
  background-color: #fff;
  background-image: url(/images/index/patern.svg) no-repeat 0 0;
  background-size: 100%;
}
.main {
  width: 100%;
  color: #000;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}
.main h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}
.link-road {
  color: #000;
  margin: 0;
  display: block;
  padding: 5px 15px 5px 0;
}
.road {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.road li {
  list-style-image: url(/images/item/romb.png);
  margin-right: 10px;
}
.road li:nth-child(1) {
  list-style-image: none;
}
.grey {
  color: #aba9a7;
}
.shop {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.filter legend {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}
.production label {
  margin-bottom: 20px;
}
.name-prod {
  appearance: none;
  position: absolute;
}
.chek {
  margin-bottom: 20px;
  position: relative;
}
.chek-label::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border: #000 2px solid;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.chek-label {
  padding-left: 35px;
}
.chek-label::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(/images/shop/cross.png) no-repeat 0 0;
  opacity: 0;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
}
input.name-prod:checked + .chek-label::after {
  opacity: 1;
}

.radio {
  margin-bottom: 20px;
  position: relative;
}
.radio-input {
  appearance: none;
  position: absolute;
}
.radio-label {
  padding-left: 35px;
  width: 100px;
}
.radio-label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: #000 2px solid;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.radio-label::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border: 1px #000 solid;
  border-radius: 50%;
  background-color: #000;
  opacity: 0;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
}
.radio-input:checked + .radio-label::after {
  opacity: 1;
}
.btn-show {
  width: 110px;
  padding: 10px;
}
.catalog {
  margin-left: 30px;
  width: 700px;
}
.catalog-ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 220px 220px 220px;
  gap: 20px;
}
.buy {
  display: inline-block;
  vertical-align: baseline;
  padding: 10px 20px;
  margin-left: -0.2em;
  line-height: 18px;
}
.price {
  width: 100px;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 10px 0;
  line-height: 18px;
  background-color:#d9d7d7;
}
.buy-price {
  text-align: center;
  margin-left: 15px;
  margin-bottom: 15px;
}
.product article {
  background-color:#e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product article {
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 10px 1px #b5b2af;
}
.name-product {
  margin-top: 8px;
  margin-bottom: 17px;
  margin-left: 15px;
  width: 180px;
}
.btn-page {
  list-style: none;
  margin: 0;
  margin-top: 45px;
  padding: 0;
  width: 190px;
  display: flex;
  justify-content: space-between;
}
.btn-page-li button {
  width: 44px;
  height: 44px;
}
.btn-page-li.active{
  color: #000;
  background-color:#fff;
}
/*Футер*/
.main-footer p {
  margin: 0;
}
.main-footer {
  margin-top: 65px;
  text-align: center;

  width: 100%;
  color: #fff;
  background-color: #212121;
  background-image: url(/images/footer.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addres-foot,
.foot-copyrighr {
  margin: 0;
}
.foot-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.copyright {
  margin-top: 5px;
  padding: 10px;
  background-color: #000;
}
.social-icon {
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.social-icon:hover,
.social-icon:focus {
  background-color: #fff;
  transition: all 0.5s ease-in;
}
.social-icon {
  width: 43px;
  height: 43px;
  background-color: #000;
}
.icon:hover path,
.icon:focus path {
  fill: #000;
}
.foot-contacts {
  width: 145px;
}
.social {
  list-style: none;
  margin: 0;
  margin-top: 15px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.addres-foot {
  width: 320px;
  text-align: left;
}
.footer-container {
  width: 930px;
  padding: 57px 0 18px 0;
  display: flex;
  justify-content: space-between;
}

.addres-foot a {
  text-decoration: underline;
  color: #f7f4f1;
}

.foot-contacts {
  text-align: center;
  width: 320px;
}

.foot-contacts ul {
  list-style: none;
}

/*Логин-пароль*/
.popup-bg {
  color: #000;
  background-color: #f8f3f0;
  background-image: url("/images/index/patern.svg");
  background-position: 0 0;
  background-repeat: repeat;
}

.popup h2 {
  font-size: 32px;
  line-height: 42px;
}

.popup input {
  font: inherit;
  color: #000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000;
}

.popup input:focus {
  border-color: #663d15;
}
.chek:focus,
.chek:hover {
  border-color: #663d15;
}

.popup a {
  color: #000;
  text-decoration: underline;
}
.popup a:hover,
.popup a:focus {
  text-decoration: none;
}
/**/
